@theme {
  /* BASE */
  --color-light: oklch(1 0 0);
  --color-dark: oklch(0 0 0);
  --color-transparent: transparent;
  --color-current: currentColor;

  /* PRIMARY */
  --color-primary-400: oklch(0.75 0.15 20);
  --color-primary-500: oklch(0.70 0.18 18);
  --color-primary-600: oklch(0.65 0.20 16);

  /* NEUTRAL */
  --color-neutral-100: oklch(1 0 0);
  --color-neutral-200: oklch(0.75 0.05 240);
  --color-neutral-300: oklch(0.50 0.10 260);
  --color-neutral-400: oklch(0.45 0.10 260);
  --color-neutral-500: oklch(0.40 0.10 260);
  --color-neutral-600: oklch(0.35 0.10 260);
  --color-neutral-700: oklch(0.30 0.10 260);
  --color-neutral-800: oklch(0.25 0.10 260);
  --color-neutral-900: oklch(0.20 0.10 260);
  --color-neutral-950: oklch(0.15 0.05 260);

  /* ACCENT */
  --color-accent-red: oklch(0.80 0.15 29);
  --color-accent-orange: oklch(0.75 0.20 40);
  --color-accent-yellow: oklch(0.85 0.15 80);
  --color-accent-green: oklch(0.70 0.15 140);
  --color-accent-blue: oklch(0.50 0.20 260);
  --color-accent-pink: oklch(0.70 0.15 340);
  --color-accent-violet: oklch(0.60 0.20 300);
  --color-accent-grey: oklch(0.40 0.10 260);
}

[data-theme="dark"] {
  --color-light: oklch(0 0 0);
  --color-dark: oklch(1 0 0);

  --color-primary-400: oklch(0.70 0.18 20);
  --color-primary-500: oklch(0.65 0.20 18);
  --color-primary-600: oklch(0.60 0.22 16);

  --color-neutral-100: oklch(0.15 0.05 260);
  --color-neutral-200: oklch(0.35 0.10 260);
  --color-neutral-300: oklch(0.40 0.10 260);
  --color-neutral-400: oklch(0.45 0.10 260);
  --color-neutral-500: oklch(0.50 0.10 260);
  --color-neutral-600: oklch(0.75 0.05 240);
  --color-neutral-700: oklch(1 0 0);
  --color-neutral-800: oklch(1 0 0);
  --color-neutral-900: oklch(1 0 0);
  --color-neutral-950: oklch(1 0 0);

  --color-accent-orange: oklch(0.75 0.20 40);
  --color-accent-yellow: oklch(0.85 0.15 80);
  --color-accent-green: oklch(0.70 0.15 140);
  --color-accent-blue: oklch(0.50 0.20 260);
  --color-accent-pink: oklch(0.70 0.15 340);
  --color-accent-violet: oklch(0.60 0.20 300);
  --color-accent-grey: oklch(0.40 0.10 260);
}
