:root {
  --toolbarHeight: 40px;
  --zIndexCookieBannerLink: 200;
  --zIndexDrawer: 500;
}

.--screenHeight {
  height: calc(100vh - var(--toolbarHeight));
}

.--screenMinHeight {
  min-height: calc(100vh - var(--toolbarHeight));
}
