:root {
  --headerHeight: 60px;
  --zIndexCookieBannerLink: 200;
  --zIndexDrawer: 500;
}

.--screenHeight {
  height: calc(100vh - var(--headerHeight));
}

.--screenMinHeight {
  min-height: calc(100vh - var(--headerHeight));
}
