:root {
  font-family: 'Ubuntu';

  --toastify-color-light: var(--color-bg-card);
  --toastify-color-dark: var(--color-bg-card);

  --toastify-text-color-light: var(--color-text-primary);
  --toastify-text-color-dark: var(--color-text-primary);

  .Toastify__toast-body {
    @apply px-2 py-1 flex flex-row gap-1 rounded-lg shadow-none;
  }
}
